@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*- Screen Sizes*/
/* COLOR HEX */
/* COLOR Gradient */
/*import fonts*/
/*media queries*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #eaeaea ff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: #444;
  line-height: 1.5;
}
.dl-blurbs {
  display: grid;
}
@media (min-width: 768px) {
  .dl-blurbs {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
}
/* LIST */

.join-us h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 25px;
}

dt {
  font-size: 2rem;
  font-weight: 400;
  background-color: whitesmoke;
  margin: 5px;
  padding: 0 20px;
  border-radius: 10px;
}

/* Horizontal line */
/* Reset */
*:before,
*:after {
  content: "";
}
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}
