.join-wrapper {
  position: relative;
  /* width: 80vw; */
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.join-container {
  position: relative;
  width: 33vmin;
  height: 33vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  border-radius: 0.5em;
  background-color: #0073cf;
  margin: 15px;
}

span.count-digit {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.count-title {
  color: #e0e0e0;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

@media (max-width: 560px) {
  
  .join-wrapper {
    text-align: center;
    margin-top: 15em;
  }

  .join-container {
    margin-bottom: 20px;
    background-color: transparent;
  }

  span.count-digit {
    font-size: 2rem;
    color: #000;
  }

  span.count-title{
    color: #000;
    font-size: 1rem !important;
  }
}
