* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 115, 207);
  background: linear-gradient(
    0deg,
    rgba(0, 115, 207, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.true-blue {
  color: #0073cf;
}

.bg-true-blue {
  background-color: #0073cf;
}
.bg-azure-blue {
  background-color: #046cd2;
}
/* Navbar */
header .flex a img {
  width: 80px;
}

/* Banner */

.banner-button {
  margin: 5px;
}

@media (min-width: 768px) {
  .banner-img {
    text-align: left;
    padding-right: 100px;
    max-width: 40%;
  }
}

.banner-img {
  margin-top: 0;
  text-align: left;
  padding-right: 20px;
}

/* Advertisers */

.advertiser img {
  max-width: 200px;
}

.service-section .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background-color: #f8f9fa;
}
.service-section .icon-box:hover .service-title a {
  color: #41a1fd;
}
.service-section .icon-box .service-icon {
  float: left;
  color: #41a1fd;
  font-size: 40px;
}
.service-section .icon-box .service-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .service-section .icon-box .service-title {
    text-align: right;
    /* display: inline-flex; */
    margin-right: 50px;
    /* margin-top: 50px; */
    margin-bottom: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.2;
  }
}
.service-section .icon-box .service-title a {
  color: #556270;
  transition: 0.3s;
  text-decoration: none;
}
.service-section .icon-box .service-para {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}
.service-section .service-main-heading {
  color: #556270;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1;
  font-size: 60px;
  font-weight: 600;
}
