@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap");

@import url(./sm-nav.css);
@import url(./list.css);
@import "./join-us.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(0, 115, 207);
  background: linear-gradient(
    0deg,
    rgba(0, 115, 207, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul,li {
  margin: 0 !important;
}

.true-blue {
  color: #0073cf;
}

.bg-true-blue {
  background-color: #0073cf;
}
.bg-azure-blue {
  background-color: #046cd2;
}

/* Navbar */

.navbar-nav {
  margin-right: 25px !important;
}

.navbar-brand img {
  width: 120px;
}
@media (max-width: 560px) {
  .navbar-brand img {
    width: 70px;
  }
}

.nav-link {
  font-weight: 500;
  margin: 0 15px;
}

@media (max-width: 991px) {
  .nav-hide {
    display: none !important;
  }
}

/* Small Navigation */

.small-navigation {
  z-index: 99;
}

@media (min-width: 991px) {
  .sm-nav {
    display: none;
  }
}

/* .hero-section,.offerings,.advertiser,.publisher,.join-us {
  height:min-content;
} */

.hero-section {
  height: 97vh;
}

@media (max-width: 560px) {
  .hero-section {
    height: 91vh;
  }
}

/* Banner */

.banner-button {
  margin: 5px;
}

@media (max-width: 768px) {
  .banner span.block {
    font-size: 2.5rem;
  }
}

@media (max-width: 390px) {
  .banner .banner-head {
    margin-top: 50px;
    font-size: 5rem !important;
  }
}

.banner-img {
  margin-top: 0;
  text-align: left;
  padding-right: 20px;
  width: 90% !important;
}

@media (min-width: 768px) {
  .banner-img {
    text-align: left;
    padding-right: 100px !important;
    max-width: 42%;
  }
}

@media (max-width: 560px) {
  .banner {
    height: 100vh;
  }
  .banner-img {
    display: none;
  }
}

.banner .banner-text {
  font-size: 1.8rem !important;
  margin-left: 17px !important;
}

@media (max-width:568px){
  .banner .banner-text {
    font-size: 1.3rem !important;
    margin-left: 20px !important;
  }
}

/* Advertisers */

.advertiser .adv-img {
  width: 200px !important;
  height: 170px !important;
}

.service-section .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background-color: whitesmoke;
}
.service-section .icon-box:hover .service-title a {
  color: #41a1fd;
}
.service-section .icon-box .service-icon {
  float: left;
  color: #41a1fd;
  font-size: 40px;
}

.service-section .icon-box .service-title {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 30px;
  line-height: 1.3;
}

.service-section .icon-box .service-title.not {
  font-size: 1.2rem !important;
}

@media (min-width: 992px) {
  .service-section .icon-box .service-title {
    font-weight: 700;
    font-size: 2.5rem !important;
    margin-top: 30px;
    line-height: 1.3;
  }
  .service-section .icon-box .service-title.not {
    font-size: 2.5rem !important;
    margin-top: 20px;
  }
}
.service-section .icon-box .service-title a {
  color: #556270;
  transition: 0.3s;
  text-decoration: none;
}
.service-section .icon-box .service-para {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}
.service-section .service-main-heading {
  color: #556270;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1;
  font-size: 3rem;
  font-weight: 600;
}

/* Publishers */
.publisher .pub-img {
  width: 150px;
}

.publisher .service-section .container .service-title {
  font-size: 2rem !important;
}

.publisher .service-section .container .col-lg-4 .service-title {
  font-size: 1.5rem !important;
}

/* Join us */

@media (min-width: 768px) {
  .stats {
    padding-top: 4em !important;
    height: 93vh;
  }
}

.main-heading3,.main-heading4 {
  margin-bottom: 0.8em !important;
}

.stats h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.dt {
  font-size: 2rem;
  font-weight: 400;
  background-color: whitesmoke;
  margin: 5px;
  padding: 0 20px;
  border-radius: 10px;
  display: block;
}

.client-slider {
  margin-top: 0;
  /* align-items: center;
  justify-content: center; */
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slide {
  max-width: 200px !important;
  min-height: 100px !important;
  margin: 0 7px;
  /* background: linear-gradient(135deg, #fff 0%, #9bcac9 100%); */
  padding: 5px;
  text-align: center !important;
  align-items: center;
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

@media (max-width: 560px) {
  .slider .slide-track img {
    width: 150px;
  }
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.slide.nutrayogi img {
  width: 170px !important;
}

/* missionM*/

.mission {
  padding-top: 3em;
  height: 93vh;
}

.mission .para {
  font-weight: 500;
}

.mission .mis-img {
  width: 150px;
}

@media (max-width: 568px) {
  .mission .mis-img {
    width: 60px;
  }

  .mission {
    height: max-content;
    padding-bottom: 10px;
  }
}

/* Footer */

@media (min-width: 568px) {

  .f-col {
    padding: 0 1em;
  }
}

/* DYNamic text */
.con {
  display: flex;
  justify-content: center;
}
/* DEMO-SPECIFIC STYLES */
.dynamic-type .text-dynamic {
  font-family: 'Montserrat';
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
      width: 0
  }

  to {
      width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
      border-color: transparent
  }

  50% {
      border-color: orange
  }
}